@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$naranja, v.$cyan);
    }

    span {
        font-weight: 700;
        color: v.$indigo;
    }
}