@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: scroll;
    }

    .contenido {
        padding: 2rem;
        
        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .formulario {

        input:not([type="submit"]) {
            background-color: v.$blanco;
        }

        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}

/* Estilos Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

/* Color de fondo normal de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: v.$morado; /* Color normal de la scrollbar */
    border-radius: .5rem;
    transition: background-color 0.3s ease;
}

/* Efecto de hover */
::-webkit-scrollbar-thumb:hover {
    background-color: darken(v.$morado, 10%); /* Cambio de color al hacer hover */
}

/* Estilos del borde de la scrollbar (esquina) */
::-webkit-scrollbar-corner {
    background-color: v.$grisClaro; /* Color de fondo de la esquina */
}
