@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: v.$indigo;
    height: 0;
    overflow: hidden;
    transition-property: opacity;
    transition-duration: .5s;

    //transition: all .5s ease;

    &.mostrar {
        opacity: 1;
        padding: 2rem;

        height: 100%;
        width: 100%;

        position: fixed;

        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

        background-color: rgb(0 0 0 / .9);
        @include m.tablet {
            display: none;
        }
    }

    &.ocultar {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }

        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 3rem;
            width: 3rem;

            img {
                &:hover {
                    cursor: pointer;
                }
            }

            @include m.tablet {
                display: none;
            }
        }
    }


    .sidebar-nav {
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block; 
            margin-bottom: 3rem;
            padding: .8rem;
            border-radius: .5rem;
            font-size: 2.4rem;
            text-align: center;

            transition-property: background-color;
            transition-duration: .3s;

            &:hover, 
            &.activo {
                background-color: darken(v.$indigo, 20%);
            }

            @include m.tablet {
                font-size: 1.5rem;
                margin-bottom: 2rem;
                text-align: left;
            }
        }
    }

    .cerrar-sesion-mobile {
        margin-top: 10rem;

        .cerrar-sesion {
            @include m.boton(v.$indigo, v.$blanco);
            border-radius: .5rem;
            font-size: 1.5rem;
            padding: 1rem;
        }

        @include m.tablet {
            display: none;
        }
    }
}